<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tretornesp.clickerchat3">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:supportsRtl="true"
        android:configChanges="locale|orientation"
        >
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.ChatTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewUser" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.ChatThemeCompat" android:screenOrientation="portrait"/>
        <activity android:name=".Login" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.ChatTheme" android:screenOrientation="portrait"/>
        <activity android:name=".GroupInfo" android:parentActivityName=".Chat" android:theme="@style/AppTheme.ChatTheme" android:screenOrientation="portrait" />
        <activity android:name=".Chat" android:parentActivityName=".GroupList" android:theme="@style/AppTheme.GroupsTheme" />
        <activity android:name=".GroupList" android:exported="true" android:theme="@style/AppTheme.GroupsTheme"/>
        <activity android:name=".ViewProfile" android:parentActivityName=".GroupInfo" android:theme="@style/AppTheme.ChatTheme" android:screenOrientation="portrait"/>
        <activity android:name=".CreateGroup" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.ChatTheme" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".CreateUser" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.ChatTheme" android:screenOrientation="portrait"/>
        <activity android:name=".SelectCategories" android:parentActivityName=".CreateUser" android:theme="@style/AppTheme.GroupsTheme" android:screenOrientation="portrait"/>
        <activity android:name=".Register" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.ChatTheme" android:screenOrientation="portrait"/>
    </application>

</manifest>